@charset "utf-8";

/* styles.css */
/*=======================================================================================================================================*/
/*=======================================================================================================================================*/
/*=======================================================================================================================================*/
.blue-text {
    color: rgb(0, 102, 255);
}

/*=======================================================================================================================================*/
/*=======================================================================================================================================*/
/*=======================================================================================================================================*/
/* Style the header*/
body {
    background: url('https://www.squaretrade.com/sites/default/files/2022-06/meta-tag-terms-and-conditions.jpg');
    font-size: 20px;
    color: #949393;
}

.text1 {
    font-size: 20px;
    color: #949393;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    z-index: 999;
    justify-content: space-between;
    background-color: rgb(249, 250, 251);
    opacity: 80%;

}

/* Style the header links */
.header a {
    float: left;
    line-height: 10px;
    font-size: 18px;
}

/* Style the logo and navigation bar buttons */
.logo {
    margin-top: auto;
}

.brand {
    margin-top: 50px;
    position: inherit;
}

.header button {
    border-radius: 25px;
    width: 100px;
    height: 25px;
    color: black;
    text-align: center;
    margin-right: 10px;
    margin-top: 40px;
    border: #ddd;
}

/* Change the background color on mouse-over */
.header button:hover {
    background-color: black;
    color: white;
}

/* Style the user button*/
.userbtn {
    border-radius: 10px;
    height: 50px;
    background-color: none;
    opacity: 0.6;
    float: right;
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.userbtnimg {
    float: right;
    margin-top: -10px;
}

.userbtntext {
    float: left;
}

.userbtntext a {
    color: black;
}

.header .userbtn:hover {
    background: rgb(142, 140, 140);
    color: white;
}

.header .userbtn a:hover {

    color: white;
}

/* Float the link section to the relavant side */
.header-right {
    float: right;
}

.brand {
    float: top;
    float: right;
}



/* Add an active class to highlight the current page */
.active {
    background-color: rgb(174, 170, 170);
    color: black;
}

/* Hide the link that should open and close the topnav on small screens(responsive part) */
.navbar .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}



/* Style the dropdown content (hidden by default) */
.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}



.sec2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

}

.sec3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

}

.sec4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

}

/*responsive part for header*/
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}

/*///////////////////////////////////////////////////*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/*@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
    
    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
/*@media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }*/



/*.u-section-1 {
      min-height: 812px;
    }*/

/*@media screen and (max-width: 600px){
      .section-1{flex-direction: column;}
    }*/
.section-1 {
    min-height: 812px;
    background-image: url(audienece.jpg);
    background-size: cover;
    margin-top: 0px;
}

/*.section-1{
      position:relative;
      display:flex;
      width: 100%;
      min-height:100vh; 
      background:whitesmoke;
      background-size: cover;
      background-position: center;
      
      justify-content:space-between;
      margin-top: 0px;
      }*/

.section-1 .u-shape-1 {
    width: 780px;
    height: 673px;
    background-color: rgb(214, 210, 210);
    opacity: 0.7;
    margin: 0 calc(((100% - 1140px) / 2)) 0 auto;
    position: relative;
    z-index: 1;
}

.section-1 .u-image-1 {

    width: 488px;
    height: 500px;
    object-position: 50% 50%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    margin: -568px auto 0 calc(((100% - 1140px) / 2) + 71px);
    position: relative;
    z-index: 2;
}

.section-1 .u-group-1 {
    width: 536px;
    min-height: 537px;
    height: auto;
    margin: -660px calc(((100% - 1140px) / 2) + 34px) 60px auto;
}

.section-1 .u-container-layout-1 {
    padding: 30px 50px;
    z-index: 3;
    position: relative;
}

.section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px auto 0 0;
}

.section-1 .u-text-2 {
    font-size: 2rem;
    margin: 28px 0 0;
    font-family: Brush Script MT, cursive;
}


.section-1 .u-btn-1 {
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Brush Script MT, cursive;
    font-size: 1.125rem;
    letter-spacing: 2px;
    margin: 50px auto 0 0;
    padding: 10px 43px 10px 41px;
}


@media screen and (max-width: 600px) {
    .section-1 {
        min-height: auto;
    }

    .section-1 .u-shape-1 {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .section-1 .u-image-1 {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .section-1 .u-group-1 {
        width: 100%;
        min-height: auto;
        height: auto;
        margin: 0;
    }

    .section-1 .u-container-layout-1 {
        padding: 15px;
    }

    .section-1 .u-text-1 {
        font-size: 2rem;
    }

    .section-1 .u-text-2 {
        font-size: 0.875rem;
        margin: 15px 0 0;
    }

    .section-1 .u-btn-1 {
        font-size: 0.875rem;
        margin: 15px auto 0 0;
        padding: 8px 20px;
    }
}



/*Footer stylings*/
footer {
    background-image: url(footer.jpg);
    background-size: cover;
    margin-top: 0px;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.footer-container {
    width: 95%;
    height: 40vh;
    background: none;
    color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
}

.footerhead1 {
    margin-right: 4rem;
}

.footerhead {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footerhead h2,
.footer-email h2 {
    margin-bottom: 2rem;
}

.footerhead a {
    color: #f9f9f9;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footerhead a:hover {
    color: aqua;
    transition: 0.4s ease-out;
}

#footermail {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footermail::placeholder {
    color: darkgrey;
}

#footermail-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: lightgray;
    color: black;
    text-decoration-style: solid;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 1rem;

}

#footermail-btn:hover {
    cursor: pointer;
    background-color: darkgrey;
    transition: all 0.4s ease-out;

}



@media screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        margin: 0 auto;
    }
}