body{
    background-color: white;
    color: black;
}

.section-0{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.section-0 .title{
    font-size: 4rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:1000;
    padding: 1rem;
    
}
.section-0 .heropart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
.heropart .quote h3{
    font-size: 1.2rem;
    font-family: Brush Script MT,cursive;
    font-weight: 800;
}

.heropart .quote p{
    font-size: 0.8rem;
    font-family: Brush Script MT,cursive;
    font-weight: 500;
}


.search form{
    background-color: white;
    width: 600px;
    height: 35px;
    display: flex;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-left: 30px;
  }
  .search form input{
    flex: 1;
    border: none;
    outline: none;
    border-radius:10px 0 0 10px;
  }
  .search form button{
    background: black;
    border: none;
    outline: none;
    padding:10px 50px;
    color: white;
    border-radius:0 10px 10px 0;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1rem;
  }
  .search form button:hover{
    background-color: darkgray;
    color: black;
    font-weight: bold;
  }
  .search form .searchimg{
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    
  } 





.section-1{
    height: 60vh;
    overflow: auto;
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.faq{
    max-width: 60%;
    
    padding: 1.5rem 2rem 2rem 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
    
}
.question{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.question h3{
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    color: black;
    padding-top: 1rem;
    line-height: 1.2;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.faq.active .answer{
    max-height: 300px;
    /*animation: fade 1s ease-in-out;*/
}

.faq.active svg{
    transform:rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}




.section-2{
    height: auto;
    overflow: auto;
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.voterquestion{
    width: 60%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#faqmail{
    margin-left: 50px;
    min-width:735px;
    opacity: 0.5;
    cursor: pointer;
    border-width: 2px;
    padding: 5px;
    
    color: black;
    margin-bottom: 10px;
}
#faqmail::placeholder {
    /* Set the font-family, font-size, and other styles as desired */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #999; /* Placeholder text color */
  }


#userquestion{
    margin-left: 50px;
    opacity: 0.5;
    cursor: pointer;
    border-width: 2px;
    padding: 5px;
    font-size: large;
    color: black;
}
#userquestion::placeholder {
    /* Set the font-family, font-size, and other styles as desired */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #999; /* Placeholder text color */
  }


.voterquestion #submitq{
    background: black;
    width: 150px;
    border: none;
    outline: none;
    padding:10px 40px;
    color: white;
    border-radius:8px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
}